name: Compile
on: push
jobs:
  build-windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Include python
        uses: actions/checkout@v4
        with:
          repository: artyom7774/Game-Engine-3-python
          path: python

      - name: Copy python to project
        run: |
          Copy-Item -Path "python/windows" -Destination "src/extra/python/windows" -Recurse -Force
        shell: pwsh

      - name: Compile windows
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.7
        with:
          path: src/extra/compile.iss
          options: /Q /O+

      - name: Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Game-Engine-3-Installer
          path: src/extra/Game-Engine-3-installer.exe

  build-linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Include python
        uses: actions/checkout@v4
        with:
          repository: artyom7774/Game-Engine-3-python
          path: python

      - name: Create linux archive
        run: |
          mkdir -p dist/Game-Engine-3
    
          cp "Game Engine 3.exe" dist/Game-Engine-3/ 2>/dev/null || true
          cp COMMANDS.txt dist/Game-Engine-3/
          cp counter.py dist/Game-Engine-3/
          cp "Game Engine 3" dist/Game-Engine-3/ 2>/dev/null || true
          cp "Game Engine 3.py" dist/Game-Engine-3/
          cp icon.png dist/Game-Engine-3/
          cp LICENSE.txt dist/Game-Engine-3/
          cp README.md dist/Game-Engine-3/
          cp requirements.txt dist/Game-Engine-3/
          cp setup.py dist/Game-Engine-3/
          cp start.py dist/Game-Engine-3/
          cp start.spec dist/Game-Engine-3/
          cp test.py dist/Game-Engine-3/
          cp TODO.txt dist/Game-Engine-3/
          
          cp -r descriptions dist/Game-Engine-3/
          cp -r engine dist/Game-Engine-3/
          cp -r libs dist/Game-Engine-3/

          cp -r python/linux dist/Game-Engine-3/python
          
          cp -r src dist/Game-Engine-3/

          cd dist
          
          tar -czf Game-Engine-3-linux.tar.gz Game-Engine-3/

      - name: Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Game-Engine-3-Linux
          path: dist/Game-Engine-3-linux.tar.gz
